10_XSD/PARS_XSD_Test/PARS_XSD_Test/parsScheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="PARRHI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InputData">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0">
        <xs:element name="Variables">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="Int">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Points">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:choice maxOccurs="unbounded">
                <xs:element name="PointRobot">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="J1" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="J2" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="Scale" type="xs:decimal" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="PointFix">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="X" type="xs:decimal" use="required" />
                    <xs:attribute name="Y" type="xs:decimal" use="required" />
                    <xs:attribute name="Z" type="xs:decimal" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="PointCamera">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Holograms">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:choice maxOccurs="unbounded">
                <xs:element name="Zylinder">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="point1" type="xs:string" use="required" />
                    <xs:attribute name="point2" type="xs:string" use="required" />
                    <xs:attribute name="radius" type="xs:unsignedByte" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="Sphere">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="point" type="xs:string" use="required" />
                    <xs:attribute name="radius" type="xs:unsignedByte" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Events">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element name="Trigger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="TimeTrigger">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="canTrigger" type="xs:boolean" use="required" />
                        <xs:attribute name="timeSinceActivation" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="action1" type="xs:string" use="required" />
                        <xs:attribute name="action2" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="DistanceTrigger">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="canTrigger" type="xs:boolean" use="required" />
                        <xs:attribute name="point1" type="xs:string" use="required" />
                        <xs:attribute name="point2" type="xs:string" use="required" />
                        <xs:attribute name="distance" type="xs:decimal" use="required" />
                        <xs:attribute name="action1" type="xs:string" use="required" />
                        <xs:attribute name="action2" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="VarTrigger">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="canTrigger" type="xs:boolean" use="required" />
                        <xs:attribute name="varName" type="xs:string" use="required" />
                        <xs:attribute name="triggerValue" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="action1" type="xs:string" use="required" />
                        <xs:attribute name="action2" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Actions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="IncrementCounterAction">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="intVar" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="SetTriggerStateAction">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="triggerName" type="xs:string" use="required" />
                          <xs:attribute name="canTrigger" type="xs:boolean" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ChangeUITextAction">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="text" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="MoveRobotAction">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="pointTCP" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="SetRobotHandStateAction">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="state" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UIText">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="optional" />
            <xs:attribute name="text" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>